@{
    ViewData["Title"] = "Meldeverwalter";
    ViewData["FullBleed"] = true;
}
<div class="otd-melde-shell">
    <div class="otd-melde-titlebar">
        <span class="otd-melde-title">Projektname</span>
        <span class="otd-melde-close">X</span>
    </div>
    <div class="otd-melde-columns">
        <div class="otd-melde-column">
            <div class="otd-melde-header">Bedienaufforderungen</div>
            <div class="otd-melde-body"></div>
        </div>
        <div class="otd-melde-column">
            <div class="otd-melde-header">Betriebsmeldungen</div>
            <div class="otd-melde-body"></div>
        </div>
        <div class="otd-melde-column">
            <div class="otd-melde-header">Stoerungen</div>
            <div class="otd-melde-body"></div>
        </div>
        <div class="otd-melde-column">
            <div class="otd-melde-header">System</div>
            <div class="otd-melde-body"></div>
        </div>
    </div>
</div>
